<main class="classmate-show">
  <div class="profile-card">
    <div><%= @classmate.name %></div>

    <div>
      <span><ion-icon name="calendar"></ion-icon></span>
      <span><%= @classmate.birthday %></span>
    </div>

    <div>
      <a href="mailto:<%= @classmate.email %>">
        <span><ion-icon name="mail"></ion-icon></span>
        <span><%= @classmate.email %></span>
      </a>
    </div>

    <div>
      <a href="/classmates/<%= @classmate.id %>/edit"><ion-icon name="create-outline"></ion-icon></a>
      <form class="delete" action="/classmates/<%= @classmate.id %>" method="POST">
      <input type="hidden" id="hidden" name="_method" value="delete">
        <button type="submit"><ion-icon name="trash-outline"></ion-icon></button>
      </form>
    </div>
  </div>

  <div class="courses-right">
    <p>Courses you have together:</p>
    <ul>
      <% @classmate.courses.each do |course| %>
        <a href="/courses/<%= course.id %>"><li><%= course.title %></li></a> 
      <% end %>
    </ul>
  </div>
</main>