<h2><%= current_user.email %>'s courses:</h2>

<ul>
  <% @courses.each do |course| %>
    <li>
      <a href="/courses/<%= course.id %>"> <%= course.title %> <%= course.professor %> <%= course.teaching_assistant %> </a>
    </li>
  <% end  %>
</ul>

<a href="/courses/new">Add</a>