<main>
  <form class="new" action="/courses" method="POST">
    <% if !!flash[:alerts] %>
      <div class="alert">
        <ul>
          <% flash[:alerts].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <span>
        <input type="text" name="title" placeholder="Course Title">
      </span>
      <span>
        <input type="submit" value="Add Course" class="btn btn-full">
      </span>
    </div> 
  </form>

  <div class="index">
    <ul>
      <% @courses.reverse.each do |course| %>
        <li>
          <span>
            <a id="course-title" href="/courses/<%= course.id %>"><%= course.title %></a>
          </span>
          <span>
            <a href="/courses/<%= course.id %>/edit"><ion-icon name="create"></ion-icon></a>
          </span>
          <span>
            <form class="delete" action="/courses/<%= course.id %>" method="post">
              <input type="hidden" id="hidden" name="_method" value="delete">
              <button type="submit"><ion-icon name="trash"></ion-icon></button>
            </form>
          </span>
        </li>
      <% end %>
    </ul>

  </div>
</main>