<main>
  <% if !!flash[:alerts] %>
    <div class="alert">
      <ul>
        <% flash[:alerts].each do |alert| %>
          <li><%= alert %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="header-wrapper">
    <div class="search-wrapper">
      <form class="search-box" action="/courses" method="POST">
        <input type="text" name="title" placeholder="Add course">
        <button type="submit"><ion-icon name="add-circle-outline"></ion-icon></button>
      </form>
    </div>
    
    <div class="search-wrapper">
      <form class="search-box" action="/courses" method="GET">
        <input type="text" name="query" placeholder="Search course title">
        <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
      </form>
    </div>
  </div>

  <div class="index">
    <ul>
      <% @courses.reverse.each do |course| %>
        <li>
          <span>
            <a id="course-title" href="/courses/<%= course.id %>"><%= course.title %></a>
          </span>
          <span>
            <a href="/courses/<%= course.id %>/edit"><ion-icon name="create"></ion-icon></a>
          </span>
          <span>
            <form class="delete" action="/courses/<%= course.id %>" method="POST">
              <input type="hidden" id="hidden" name="_method" value="delete">
              <button type="submit"><ion-icon name="trash"></ion-icon></button>
            </form>
          </span>
        </li>
      <% end %>
    </ul>

  </div>
</main>