<main>
  <h4><%= @course.title %></h4>

  <% if !!flash[:alerts] %>
    <div class="alert">
      <ul>
        <% flash[:alerts].each do |alert| %>            
          <li><%= alert %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Email</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @course.classmates.reverse.each do |classmate| %>
        <tr>
          <td><a href="/classmates/<%= classmate.id %>"><%= classmate.name %></a></td>
          <td><%= classmate.birthday %></td>
          <td><%= classmate.email %></td>
          <td><a href="/courses/<%= @course.id %>/classmates/<%= classmate.id %>/edit"><ion-icon name="create"></ion-icon></a></td>
          <td>
            <form class="delete" action="/courses/<%= @course.id %>/classmates/<%= classmate.id %>" method="POST">
                <input type="hidden" id="hidden" name="_method" value="delete">
                <button type="submit"><ion-icon name="trash"></ion-icon></button>
              </form>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td><a class="btn btn-full" href="/courses/<%= @course.id %>/classmates/new">Add Classmate</a></td>
      </tr>
    </tfoot>
  </table>
</main>