<h3><%= @course.title %></h3>
<p>Professor: <%= @course.professor %></p>
<p>Teaching Assistant: <%= @course.teaching_assistant %></p>

<h4>Classmates</h4>

<ul>
  <% @course.classmates.each do |classmate| %>
    <p>
      <a href="/classmates/<%= classmate.id %>"><%= classmate.name %></a>
      <%= classmate.birthday %>
    </p>
  <% end %> 
</ul>

<br>

<h4>Add new classmates</h4>

<form action="/courses/<%= @course.id %>/classmates" method="post">

  <label for="name">Classmate name: </label>
  <input type="text" name="name">
  <label for="birthday">Classmate birthday: </label>
  <input type="date" name="birthday">
  <input type="submit" value="Add Classmate">

</form>

<br>

<a href="/courses">Index</a>